<div class="flex items-center justify-between">
  <div class="flex items-center">
    <% if user.attachment&.file&.attached? %>
      <%= image_tag user.attachment.file, class: "h-8 w-8 rounded-full" %>
    <% else %>
      <div class="h-8 w-8 rounded-full bg-gray-200 flex items-center justify-center">
        <svg class="h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
        </svg>
      </div>
    <% end %>
    <div class="ml-3">
      <p class="text-sm font-medium text-gray-900"><%= user.name %></p>
      <p class="text-sm text-gray-500"><%= user.email %></p>
    </div>
  </div>
  <div class="flex items-center justify-start space-x-2">
    <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-blue-100 text-blue-800">
      <%= user.role.name.titlecase %>
    </span>
    <% if ['admin'].include?(current_user.role.name) && user.email != current_user.email %>
      <button type="button"
              class="text-red-600 hover:text-red-900"
              data-action="modal#open"
              data-user-id="<%= user.id %>"
              data-user-name="<%= user.name %>">
        <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
        </svg>
      </button>
    <% end %>
  </div>
</div> 