<%= form_with(model: announcement, class: "space-y-8", data: { turbo_frame: 'main-container', controller: "announcement-form" }) do |f| %>
  <div class="space-y-8 ">

    <div class="flex flex-wrap w-full justify-between">

      <div class="mb-4 w-[calc(60%-16px)]">
        <%= f.hidden_field :club_id, value: @club.id %>
        <%= f.label :title, class: "form-label" %>
        <%= f.text_field :title, autofocus: true, autocomplete: "email",
                         class: "form-input",
                         placeholder: "Title*" %>
      </div>

      <div class="w-[40%]">
        <%= f.label :priority, class: "form-label" %>
        <div class="mt-1 w-full">
          <div class="dropdown w-full">
            <button type="button" data-action="announcement-form#togglePriorityDropdown" class="form-input w-full flex items-center justify-between">
              <span data-announcement-form-target="selectedPriority"><%= announcement.priority&.titleize || 'Select Priority' %></span>
              <i class="fas fa-chevron-down ml-2 text-sm"></i>
            </button>
            <div data-announcement-form-target="priorityDropdown" class="dropdown-content">
              <div class="dropdown-item" data-action="click->announcement-form#selectPriority" data-priority="low">
                <div>
                  <p class="font-medium">Low</p>
                </div>
              </div>
              <div class="dropdown-divider"></div>
              <div class="dropdown-item" data-action="click->announcement-form#selectPriority" data-priority="medium">
                <div>
                  <p class="font-medium">Medium</p>
                </div>
              </div>
              <div class="dropdown-divider"></div>
              <div class="dropdown-item" data-action="click->announcement-form#selectPriority" data-priority="high">
                <div>
                  <p class="font-medium">High</p>
                </div>
              </div>
            </div>
            <%= f.hidden_field :priority, data: { announcement_form_target: "priorityInput" } %>
          </div>
        </div>
      </div>

      <div class="w-[calc(60%-16px)]">
        <%= f.label :message, class: "form-label" %>
        <div class="mt-1">
          <%= f.text_area :message, rows: 3, class: "form-input", placeholder: "Message*" %>
        </div>
      </div>

    </div>

  </div>

  <div class="flex justify-end pt-5">
    <div class="flex justify-end w-fit space-x-2">
      <%= link_to "Cancel", cancel_path, class: "bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      <%= f.submit class: "btn-primary" %>
    </div>
  </div>
<% end %>