<%= turbo_frame_tag event do %>
  <tr class="hover:bg-gray-50 transition-colors duration-200">
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"">
      <%= link_to event.description, club_event_path(@club, event), class: "hover:text-blue-600" %>
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"">
      <%= event&.from&.strftime("%B %d, %Y %H:%M") %>
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"">
      <%= event&.to&.strftime("%B %d, %Y %H:%M") %>
    </td>
    <td class="px-6 py-4 whitespace-nowrap">
      <span class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-medium
        <%= case event.status
            when 'published'
              'bg-green-100 text-green-800'
            when 'cancelled'
              'bg-red-100 text-red-800'
            else
              'bg-yellow-100 text-yellow-800'
            end %>">
        <%= event&.status %>
      </span>
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
      <div class="flex justify-end space-x-3">
        <%= link_to "View", club_event_path(@club, event), class: "text-green-600 hover:text-green-900" %>
        <%= button_to "Edit", edit_club_event_path(@club, event), class: "text-blue-600 hover:text-blue-900" %>
        <%= button_to "Delete", club_event_path(@club, event), method: :delete, class: "text-red-600 hover:text-red-900", form: { data: { turbo_confirm: "Are you sure?" } } %>

        <button class="text-blue-600 hover:text-blue-800">
           <i class="fas fa-edit"></i>
        </button>
        <button
          class="text-red-600 hover:text-red-800">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </td>
  </tr>
<% end %> 